h1{
    display: inline;
    vertical-align: middle;
}
.avatar{
    display: inline;
}
.avatar img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
}
td,th{
    border: solid black 1px;
}
#idlab{
    vertical-align: top;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: cornflowerblue;
}

a:hover{
    font-weight: bold;
    color: darkcyan;
    text-decoration: dotted underline;
}