/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aqua;
} */
h1{
    display: inline;
    vertical-align: middle;
}

.avatar{
    padding: 30px;
    border-radius: 50%;
    background-color: aqua;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

table{
    border-collapse: collapse; 
}

td,th{
    border: solid black 1px;
}

#idlab{
    vertical-align: top;
}
a{
    margin-right: 10px;
    text-decoration: none;
    color: cornflowerblue;
}

a:hover{
    font-weight: bold;
    color: darkcyan;
    text-decoration: dotted underline;
}